.menu{
    justify-content: space-around;
    align-items: start;
    display: flex;
    padding: 2%;
    margin: 0;
}

.cuadro{
    background-color: rgb(73, 73, 73);
    margin: 0 auto;
    width: 60%;
    display: flex;
    padding: 5%;
}

.texto{
    display: flex;
    flex-direction: column;
}
.contenedorindex {
    margin-top: -3%;
    background: url(Imagenes/fondoindex.jpeg) no-repeat center;
    background-size: cover;
    height: 100vh; 
    
}

.contenedoreducacion {
    margin-top: -3%;
    background: url(Imagenes/fondoeducacion.jpeg) no-repeat center;
    background-size: cover;
    height: 100vh; 
    
}
.contenedorcontacto {
    margin-top: -3%;
    background: url(Imagenes/fondocontactos.jpeg) no-repeat center;
    background-size: cover;
    height: 100vh; 
    
}
.contenedorhabilidades {
    margin-top: -3%;
    background: url(Imagenes/fondohabilidades.jpeg) no-repeat center;
    background-size: cover;
    height: 100vh; 
    
}
.contenedorsobremi {
    margin-top: -3%;
    background: url(Imagenes/cerebro.jpg) no-repeat center;
    background-size: cover;
    height: 100vh; 
    
}
.imagen{
    margin-left: 3%;
    display: flex;
    margin-right: 5%;
}
.titulo{
    
    font-size: 70px;
    color: white;
}

h2{
    font-size: 70px;
    color: white;
}

p{
    color: white;
    font-size: 20px;
}

@media (max-width: 785px) {
    

    .cuadro{
        display: flex;
        flex-direction: column;
    }
    .texto {
        display: flex;
        flex-direction: column;
        
    }
    .imagen {
        display: flex;
        flex-direction: column;
        
    }
}